<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	
		
<nav class="navbar navbar-dark bg-primary">
  <!-- Brand -->
 <a class="navbar-brand" href="#"><h1>Student Management System</h1></a>
 

  <img src="https://tse1.mm.bing.net/th?id=OIP.g5GOiqSl8AVRnYVM9ORMqQHaMs&pid=Api&P=0&h=220">

 
  </div>
</nav>
<div class ="jumbotron">
		<div class = "row">
			<h3> List Students </h3>		
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/students/new}" class = "btn btn-outline-primary"> Add Student</a><br>
				<br>
			</div>
		</div>
		<table class ="table table-border">
			<thead class = "table-dark">
				<tr>
					
					<th> Student First Name</th>
					<th> Student Last Name</th>
					<th> Student Email </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "student: ${students}">
					<td th:text = "${student.firstName}"></td>
					<td th:text = "${student.lastName}"></td>
					<td th:text = "${student.email}"></td>
					<td>
						<a th:href = "@{/students/edit/{id}(id=${student.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/students/{id}(id=${student.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
	</div>
</body>
</html>